* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfdfdd8;
  font-family: "Arial";
  width: 100%;
}

/*******************************LOGIN***********************************/
.login {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 80px;
  background: #7dc2dd;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
label {
  color: #ffffff;
  font-size: 17px;
}

.login form {
  text-align: center;
}
.log_btn {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  background-color: rgb(16, 112, 156);
  color: rgb(255, 255, 255);
}

.user_login {
  padding: 5px;
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 2px;
  color: rgb(16, 112, 156);
  font-weight: bold;
}
/*********************************List*******************************************/
.questions-list {
  width: 70%;
  text-align: center;
  background-color: #7dc2dd;
  padding: 5px;
  margin: auto;
}

.question {
  position: relative;
  height: 200px;
  width: 50%;
  border: 1px transparent;
  border-radius: 10px;
  background-color: #36728a;
  text-align: left;
  margin: 10px auto;
}
a {
  color: #ffffff !important;
  text-decoration: none;
}
.questions-list nav a {
  color: #36728a !important;
}

/***************************************Question**************************************************/
.avatar {
  padding: 5px;
  display: inline-block;
  position: absolute;
}

.avatar img {
  height: 100px;
  width: 100px;
}

.ques-info {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  left: 100px;
  width: 100%;
}
/************************************Nav*********************************************/
.nav {
  width: 100%;
  background-color: #7dc2dd;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 10px;
}

.nav ul {
  padding-bottom: 0px;
}

.nav ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  border: transparent;
}
.nav li a {
  color: #ffffff;
  text-decoration: none;
}

.nav li a:hover {
  color: #e2dcdc;
  text-decoration: none;
}
.authed-user-info {
  padding: 8px;
}
.authed-user-info img {
  height: 25px;
  width: 25px;
}
.authed-user-info span {
  padding: 11px;
  color: #36728a;
}
/****************************************************Question-Details*******************/

li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
}

li .perc-bar {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

.perc-number {
  float: right;
}

.ques-details label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  color: #000000;
}

.ques-details .answeredLabel:before {
  content: url("http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png");
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px;
  margin-bottom: -10px;
}

li.correct .answeredLabel:before {
  content: url("http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-correct.png");
  margin-top: 0;
  margin-left: 0;
  margin-bottom: -10px;
  margin-right: 6px;
}
/***************************************NewQuestion**************************************/

.new-ques {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background: #7dc2dd;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

/********************************Leaderboard*******************************************/
.leader-board {
  width: 70%;
  margin: auto;
  background-color: #7dc2dd;
  padding: 5px;
}
.board-card {
  position: relative;
  background-color: #36728a;
  width: 80%;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.board-card span {
  float: right;
  height: 20px;
  background: red;
  line-height: 0px;
  padding: 20px;
  border-radius: 50%;
}

.board-card .new-width {
  width: inherit;
}
