* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfdfdd8;
  font-family: "Arial";
  width: 100%;
}
.login {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 80px;
  background: #7dc2dd;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
label {
  color: #ffffff;
  font-size: 17px;
}

form {
  text-align: center;
}
.log_btn {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  background-color: rgb(16, 112, 156);
  color: rgb(255, 255, 255);
}

.user_login {
  padding: 5px;
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 2px;
  color: rgb(16, 112, 156);
  font-weight: bold;
}

.questions-list {
  width: 70%;
  text-align: center;
  background-color: teal;
  margin: auto;
}

.question {
  position: relative;
  height: 200px;
  width: 400px;
  border: 1px transparent;
  border-radius: 10px;
  background-color: #7dc2dd;
  text-align: left;
  margin: 10px auto;
}

.avatar {
  padding: 5px;
  display: inline-block;
  position: absolute;
}

.avatar img {
  height: 100px;
  width: 100px;
}

.ques-info {
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 100px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
